@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}




@font-face {
  font-family: 'iranlight';
  src: url('../fonts/IRANSans_Light.ttf');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f1f1;
    --foreground: #fbfbfb;
  }
}

/* globals.css */

.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  
}
  .articletext h1,
.articletext h2,
.articletext h3 {
  font-size: 23px;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight:bold;
}



body {
    background-color: #f1eeef;
  font-family: 'iranlight', sans-serif;
  direction: rtl;
  background: var(--background);
  color: var(--foreground);
}
